@import "~office-ui-fabric-react/dist/sass/References.scss";

.reactCrud {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.5) 0%,
    rgba(44, 2, 100, 0.4990371148459384) 100%,
    rgba(0, 212, 255, 0.5) 100%
  );
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}
.myStyles {
  width: 100% !important;
  .myLabel {
    text-align: start;
    font-weight: 300;
    font-weight: bold;
    color: black;
  }
  .myInput {
    background-color: transparent;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #2c0264;
    width: 300px;
    margin-bottom: 10px;
  }

  .mySubmit {
    color: white;
    background-color: #2c0264;
    margin-top: 5px;
    width: 100px;
  }

  .dropdown {
    width: 50%;
    margin-left: 170px;
  }
  .myHeader {
    color: #2c0264 !important;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .myButton {
    margin-left: 5px;
    margin-top: 4px;
    border-radius: 15px !important;
    color: white;
    font-weight: bold;
    background-color: #2c0264 !important;
  }
  .myGrid {
    width: 500px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  @include ms-Grid-col;
  @include ms-lg10;
  @include ms-xl8;
  @include ms-xlPush2;
  @include ms-lgPush1;
  width: 100% !important;
}

.title {
  @include ms-font-xl;
  @include ms-fontColor-white;
  font-weight: bold;
  margin-left: 100px;
}

.subTitle {
  font-size: 17px;
  @include ms-fontColor-white;
  font-weight: bold;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.column {
  display: flex;
  flex-direction: column;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
